.App {
  text-align: center;
}

.center-box{
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #282c34 solid 1px;
}
