.App {
  text-align: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #2d2d2d;
}

.center-box{
  margin: auto;
  width: 50vw;
  height: 50vh;
  border: #ff0000 solid 1px;
}
