.App {
  text-align: center;
  display: flex;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.center-box{
  margin: auto;
  width: 50vw;
  height: 50vh;
  border: #282c34 solid 1px;
}
